.MoveListDiv {
	background-color: #EDEDED;
	/*no padding right bc scroll bar gives padding already
	padding-bottom needs to be non-zero for some reason, for card
	margin to take effect. Move has margin-bottom 1% already*/
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 0.1%;
}

.SlidingContainer{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	flex: 2 0 0;
	margin-bottom: 2%;
}

.SlidingContainerBacklog{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	flex: 1 0 0;
}

.CenteredLoading {
	right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}