.MoveListDiv {
	background-color: #EDEDED;
	/*no padding right bc scroll bar gives padding already
	padding-bottom needs to be non-zero for some reason, for card
	margin to take effect. Move has margin-bottom 1% already*/
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 0.1%;
}

.SlidingContainer{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	height: 100% !important;
}

.SlidingContainerBacklog{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	height: 30%;
}

/* styles for mobile view <576px width VERTICAL*/
@media screen and (max-width: 575px){
	.SlidingContainer{
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
		flex-direction: column;
	}

	.SlidingContainerBacklog{
		display: flex;
		flex-wrap: wrap;
		height: 45%;
	}
}

/* styles for mobile view <576px height HORIZONTAL*/
@media screen and (max-height: 575px){
	.SlidingContainer{
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;
	}
}


.CenteredLoading {
	right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}