.SaveButton {
	margin-top: 3%;
	width: 100%;
}

.EditValuesButton {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.EditValuesContainer-Gen{
	margin-right: 3%;
	overflow: hidden;
	flex: 3 0 0;
}

.EditValuesContainer-Train{
	margin-right: 3%;
	overflow: hidden;
	flex: 1 0 0;
}

.Warning {
	color: red;
}

.HelpMessage {
	margin-bottom: 3%;
	margin-left: 2%;
}

.MoveTable {
	overflow-y: auto;
	max-height: 35vh;
}

/* Gets rid of arrows on input boxes for numbers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ReverseProbs {
	margin-left: 2%;
	margin-top: 3%;
	display: inline-block;
}