.SaveButton {
	margin-top: 3%;
	width: 100%;
}

.EditProbsButton {
	width: 100%;
}

.EditProbsContainer {
	display: inline-block;
	text-align: center;
	width: 38%;
}

.Warning {
	color: red;
}

.HelpMessage {
	margin-bottom: 3%;
	margin-left: 2%;
}

/* Gets rid of arrows on input boxes for numbers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}