.MoveName {
	background-color: #939BCB;
	color: white;
	width: 50%;
	border-radius: 0.3em;
	padding:0.5em;
	margin-bottom: 2%;
}

.ColumnTitle {
	margin-top:0.7em;
}

#moveDescription{
	height: 100%;
}

.Reversible {
	background-color:#939BCB !important;
	color: white !important;
	border-color: white !important;
	width: 50% !important;
	margin-bottom: 2%;
}

.NotReversible {
	background-color:pink;
	width: 50% !important;
	margin-bottom: 2%;
}

@media screen and (max-width: 575px), screen and (max-height: 575px) {
	.ColumnTitle {
		font-size: 20px !important;
	}

}


.MoveDetailType {
	flex: 1 0 0;
	margin-right: 3%;
	width: 50% !important;
	margin-bottom: 2%;
}