.NormalCard {
	width: 98%;
	height: 98%;
	background-color: white;
	border-radius: 0.2em;
	margin-bottom: 1%;
	float:center;
}

.NormalTitle {
	color: #5f6bb2;
}

.NormalDelete {
	float: right;
	color: #5f6bb2;
}

.SelectedCard {
	width: 98%;
	height: 98%;
	background-color: #939BCB;
	border-radius: 0.2em;
	margin-bottom: 1%;
	float:center;
}

.SelectedTitle {
	color: white;
}

.SelectedDelete {
	float: right;
	color: white;
}