.NormalCard {
	background-color: white;
	border-radius: 0.2em;
	margin-bottom: 1.25%;
	margin-right: 1.25%;
}

/* flex box sets all min-height and min-width to auto */ 
.TrainingCard {
	float: left;
	flex: 0 0 auto;
	/* so that cards disappear little by little */ 
	min-height: 0px;
	min-width: 0px;
	overflow: hidden;
	transition: width 0s !important;
	margin-right: 0.5% !important;
	margin-top: 0% !important;
	margin-bottom: 0% !important;	
	display: flex; 
	align-items: center;
}

.TrainingCard .ant-card-body {
	padding: 0px !important;
}

.TrainingCard .SelectedTitle {
	padding: 1.5em;
	font-size: 14px;
	float: left;
}

@media screen and (max-height: 575px){
	.TrainingCard .SelectedTitle {
		padding: 1em 1.5em;
		font-size: 14px;
		float: left;
	}
}

.NormalTitle {
	color: #5f6bb2;
}

.NormalDelete {
	float: right;
	color: #5f6bb2;
}

.NormalReverse {
	float: right;
	color: #5f6bb2;
	margin-right: 2%;
}

.NormalAdd {
	float: right;
	color: #5f6bb2;
}

.ToggledReverse {
	float: right;
	color: #F2B5AF;
	margin-right: 2%;
}

.SelectedCard {
	background-color: #939BCB;
	border-radius: 0.2em;
	margin-bottom: 1%;
	margin-right: 1.25%;
}

.SelectedTitle {
	color: white;
}

.SelectedDelete {
	float: right;
	color: white;
}

.SelectedReverse {
	float: right;
	color: white;
	margin-right: 2%;
}

.SelectedToggledReverse {
	float: right;
	color: lightblue;
	margin-right: 2%;
}