.ant-menu-item-selected {
	background-color: #939BCB !important;
}

.layout{
	height: 100vh;
}

.Content{
	padding: 0 50px; 
	height: 100%;
	overflow: hidden;
}

/* styles for mobile view <576px width and <575px height*/
@media screen and (max-width: 575px), screen and (max-height: 575px){
	.Content{
		padding: 0 0px; 
		height: 100%;
		overflow: hidden;
	}
	.ant-layout-footer{
		padding: 0 0px;
	}
	.ant-layout-header{
		padding: 0 0px;
	}
	/* Get rid of greeting menu item*/
	.ant-menu-item-disabled{
		display: none !important;
	}
	/* shrink menu buttons so they all show*/
	.ant-menu-item{
		padding: 0 15px;
	}
}

