.HelpMsg {
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-end !important;
	height: 50%;
}


.Image {
	height: 50%;
	width: 100%;
}

.HelpMsg .ant-list, .HelpMsg .ant-spin-nested-loading, 
.HelpMsg .ant-spin-container, .HelpMsg .ant-row, .HelpMsg .ant-list-item, .HelpMsg .ant-card {
	height: 100% !important;

}