.Pane {
	overflow-y: auto;
	border: 1px solid #d9d9d9;
	border-radius: 0.2em;	
	height: 100% !important;
	background-color: #ededed;
}

/* makes sure tabbed panes fill up whole screen (bootstrap column is the flexbox)*/
.ant-tabs {
	flex: 1 0 0;
}

.ant-tabs-content {
	height: 100%
}

/* Custom Scrollbar*/

/* width */
.Pane::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
.Pane::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.Pane::-webkit-scrollbar-thumb {
  background: lightgray; 
}

/* Handle on hover */
.Pane::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.Pane::-webkit-scrollbar-thumb {
    border-radius: 10px;
}