.PlayButtons {
	margin-top: 3%;
	margin-right: 3%;
	width: 15%;
}

.SlidingContainer {
	height: 15vh;
	border: 1px solid #d9d9d9;
	border-radius: 0.2em;	
	background-color: #ededed;
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: hidden;
    padding: 0.75%;
}


.ButtonsDiv {
	width: 100%;
	display: inline-block;
}



@media only screen and (max-width: 500px)  {
	.SlidingContainer {
		height: 50vh;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;

	}

	.ButtonsDiv {
		width: 100%;
		display: inline-block;
		align-items: stretch;
		flex: wrap;
		flex-direction: column;
	}

	
}
