.PlayButtons {
	margin-top: 3%;
	margin-right: 3%;
	width: 15%;
}

.TrainingButton {
	margin-top: 3%;
	margin-right: 3%;
	width: 45%;
}

.SlidingContainer {
	height: 15vh;
	border: 1px solid #d9d9d9;
	border-radius: 0.2em;	
	background-color: #ededed;
	width: 100%;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}