.TrainingButtons {
	flex: 1 0 0;
	width: 100%;
	margin-right: 3%;
}

.ButtonContainer-Train{
	margin-right: 3%;
	overflow: hidden;
	flex: 1 0 0;
}

.SlidingMovesContainer {
	height: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 0.2em;	
	background-color: #ededed;
    padding: 0.75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ButtonsDiv {
	margin-top: 2%;
	margin-right: -3%;
	margin-bottom: 2%;
	display: flex;
}

.TrainingViewContainer{
	height: 100%;
}

.TrainingViewRow{
	height: 50%;
}

.HorizontalTrainSets {
	display: flex !important;
}

/* fix offcenter columns */
@media screen and (max-width: 575px), screen and (max-height: 575px){
	.row {
		margin-left: 0px !important
	}
}